{% extends "template.html" %}

{% block title %}Authorized{% endblock %}

{% block maintitle %}
    Authorization OK
{% endblock %}

{% block nav %}
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/features/">Features</a>
    <a class="nav-link" href="/contacts/">Contacts</a>
{% endblock %}


{% block body %}
    <h2>Hello, {{ athlete }}!</h2>
    <p class="lead">App is connected to your Strava profile, now you can select the language of the feedback</p>
    <form action="/final/" method="post">
        <fieldset>

            <div id="mycheckboxdiv">
                <label for="lan">Select language:
                    <select id="lan" name="lan">
                        <option value="no" selected>norsk</option>
                        <option value="en">english</option>
                        <option value="sv">svenska</option>
                    </select></label><br/>
            </div>
            <br/>
            <input type="submit" value="Save settings">
        </fieldset>
    </form>
    {% endblock %}
