{% extends "template.html" %}

{% block title %}Features{% endblock%}

{% block maintitle %}
Main features:
{% endblock %}

        {% block nav %}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" href="/features/">Features</a>
        <a class="nav-link" href="/contacts/">Contacts</a>
        {% endblock %}


{% block body %}
<ul class="lead">
    <li>You will get brief feedback in the activity description. Brace your self for direct, sarcastic feedback!</li>
    <li>No fees, no advertising, no branding. <a href="https://buymeacoffee.com/jonarnes" target="_blank">Buy me a coffe</a>.</li>
    <li>Your own workout description will be saved of course. The feedback will be appended below that.</li>
    <li>You can select language -  english, norwegian, swedish or german.</li>
    <li>ChatGPT is the source of feedback. Key data points, like type of activity, length, duration etc. are passed to ChatGPT.</li>
</ul>
<p>This app is based on the <a href="https://github.com/vol1ura/strava_weather_app">weather app</a> made by <a href="https://www.instagram.com/urka_runner/">@urka_runner</a> </p>
{% endblock %}
