{% extends "template.html" %}

{% block title %}Success!!!{% endblock %}

{% block maintitle %}
    The application is fully configured
{% endblock %}

{% block nav %}
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/features/">Features</a>
    <a class="nav-link" href="/contacts/">Contacts</a>
{% endblock %}

{% block body %}
    <p class="lead">Great, {{ athlete }}. Starting from the next workout, the coach will tell you exactly how he feels about your effort... If it's not working, it's probably out of ChatGPT credits... If you like it, I <a href="https://buymeacoffee.com/jonarnes" target="_blank"> a ☕️</a></p>
    <p class="lead">You can close the window now.</p>
{% endblock %}
